<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>configFileName</param-name>
        <param-value>config_app1.txt</param-value>
    </context-param>
    <context-param>
        <param-name>dbConfigFileName</param-name>
        <param-value>config_app1_db.xml</param-value>
    </context-param>
    <listener>
        <listener-class>hr.foi.nwtis.mpavlovi2.listeners.ContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>GeoWeatherWS</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>hr.foi.nwtis.mpavlovi2.web.Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GeoWeatherWS</servlet-name>
        <url-pattern>/GeoWeatherWS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Odjava</url-pattern>
        <url-pattern>/Azuriraj</url-pattern>
        <url-pattern>/Controller</url-pattern>
        <url-pattern>/Financije</url-pattern>
        <url-pattern>/FiltrirajFinancije</url-pattern>
        <url-pattern>/Dnevnik</url-pattern>
        <url-pattern>/FiltrirajDnevnik</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <security-constraint>
        <display-name>User dio</display-name>
        <web-resource-collection>
            <web-resource-name>user</web-resource-name>
            <description/>
            <url-pattern>/jsp/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>2</role-name>
            <role-name>1</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>INTEGRAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/jsp/loginForm.jsp</form-login-page>
            <form-error-page>/jsp/loginError.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description/>
        <role-name>1</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>2</role-name>
    </security-role>
</web-app>
